<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Saved Passwords</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="table-box">

    <h1>Saved Passwords</h1>

    <table>

        <tr>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
            <th>Show</th>
            <th>Copy</th>
            <th>Change</th>
            <th>Delete</th>
        </tr>

        {% for item in data %}

        <tr>

            <td>{{ item[1] }}</td>

            <td>{{ item[2] }}</td>

            <td>

                <input type="password"
                       value="{{ item[3] }}"
                       id="pass{{ item[0] }}"
                       readonly>

            </td>

            <td>

                <button onclick="togglePassword('pass{{ item[0] }}')">
                    👁
                </button>

            </td>

            <td>

                <button onclick="copyPassword('pass{{ item[0] }}')">
                    📋
                </button>

            </td>

            <td>

                <a href="/edit-password/{{ item[0] }}">

                    <button>
                        Change
                    </button>

                </a>

            </td>

            <td>

                <a href="/delete/{{ item[0] }}">

                    <button class="delete-btn">
                        Delete
                    </button>

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/dashboard">

        <button>
            Back To Dashboard
        </button>

    </a>

</div>

<script>

function togglePassword(id){

    let input = document.getElementById(id);

    if(input.type === "password"){

        input.type = "text";

    }else{

        input.type = "password";
    }
}

function copyPassword(id){

    let input = document.getElementById(id);

    navigator.clipboard.writeText(input.value);

    alert("Password Copied");
}

</script>

</body>
</html>